body{
    font-family: 'EB Garamond', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Serif Pro', serif;
}
.top-header{
    font-size: 50px;
    border-left: 3px solid orange;
    padding-left: 10px;
    margin-top: 1.5in;
    line-height: .5em;
    
}
h1{
    font-size: 50px;
}
.header{
    color: red;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 75%;
}
.btn-margin{
    width:150px;
    margin-top: .1in;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    
    
}
.orange-color{
    color:red;
}
#text-align{
    text-align: center;
}
.flexible-container{
    justify-content:center;
    display: flex;
}
.mission-vission-goal{
    width: 25%;
    height: auto;
    padding-left: 10px;
    border-radius: 10px;
}
#card1-bg{
    background-color:rgb(231, 250, 249);
    margin-right: .3in;
    margin-left: .5in;
}
#card2-bg{
    background-color:rgb(253, 238, 241);
    margin-right: .3in;
}
#card3-bg{
    background-color:cornsilk;
    margin-right: .5in;
}
.card-img{
    height: 100px;
    width: 100px;
    margin-top: 1em;
}
.card2-img{
    height: 350px;
    width: 350px;
    margin-left: 3em;
}
.my-develop{
    display: flex;
    margin-top: 1in;
    margin-left: 100px;
    
    
}
.develop-limits{
    margin-left: 45px;
    width:60%;
    
    word-wrap: break-word;
}
.header-two{
    line-height: 1em;
}
.img-one{
    background-image: url(images/shapes/shape-1.png) ;
    background-repeat: no-repeat;
    background-size: 120px;
    background-position-y: .5in;    
}
