body{
    font-family: 'EB Garamond', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Serif Pro', serif;
}
.top-header{
    font-size: 50px;
    border-left: 3px solid orange;
    padding-left: 10px;
    margin-top: 1.5in;
    line-height: .5em;
    
}
h1{
    font-size: 50px;
}
.header{
    color: red;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 75%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    
}
.orange-color{
    color:red;
}
#text-align{
    text-align: center;
}
.flexible-container{
    justify-content:center;
    display: flex;
}
.mission-vission-goal{
    width: 300px;
    height: auto;
    margin-right: .5in;
    padding-left: 20px;
    border-radius: 10px;
}
#card1-bg{
    background-color:rgb(231, 250, 249);
}
#card2-bg{
    background-color:rgb(253, 238, 241);
}
#card3-bg{
    background-color:cornsilk;
}
.card-img{
    height: 100px;
    width: 100px;
    margin-top: 1em;
}